-# This partial expects the following locals:
-#   entity - the (main) payor instance this is displaying
-#   title - the content put in the h3.status-title line
-#   term_name - name of this payment term (ex: 'membership', 'branding license')
-#   term_end - date of the end of the term  (e.g. 'expire date')
-#   next_term_end - date of the end of the term after another payment is made
-#   can_make_payment - [boolean] whether or not to display the payment button and info
-#   payment_text - text to show on the button/link to the user to make a payment
-#   payment_action_path - path to go to when a payment action (button/link) is clicked
-#   fee_name - name of this fee (ex: 'membership fee', 'branding license fee')
-#   admin_edit_status_text - text to show on the button for editting the entity's status (for admins)
-#   admin_edit_target_id - the id for the body of the modal to display to the admin, starting with '#'  ex: '#adminEditMembershipStatus'

#term-status
  .row.mt-2
    = render(partial: 'shared/payor/alert_error', error: error) if defined?(error)

  .row.mt-2
    .col-md
      %h3.status-title= title.html_safe

  .section
    .status-details
      .row.mt-2.justify-content-between
        - if entity_expire_date(entity)
          .flex.pr-3.paid-through
            = expire_date_label_and_value(entity)
            - if entity.too_early_to_pay?
              .no-payment-needed= t('payors.status.no_payment_due_now')

        - if can_make_payment
          .flex
            - if entity.too_early_to_pay?
              = render partial: 'payments/no_payment_needed_now_modal',
                locals: {term_name: term_name,
                 fee_name: fee_name,
                 end_date: term_end,
                 extended_end_date: next_term_end,
                 link_to_url: payment_action_path }

              %button{class: payment_button_classes(['grayed-btn-colors']),
                data: {toggle: 'modal', target: '#payment-not-due-modal'}}
                = payment_text

            - else
              = link_to(payment_text, payment_action_path,
                { method: :post, class: payment_button_classes })

            = fas_tooltip(payment_button_tooltip_text(entity.should_pay_now?))

      - if current_user.admin?
        = render partial: 'shared/payor/admin_note_and_edit_status_row',
         locals: { entity: entity,
         target_id: admin_edit_target_id,
         button_text: admin_edit_status_text }
