= form_for @user_checklist_item do |f|
  - if @user_checklist_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_checklist_item.errors.count, "error")} prohibited this user_checklist_item from being saved:"
      %ul
        - @user_checklist_item.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :checklist_item
    = f.text_field :checklist_item
  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :time_completed
    = f.datetime_select :time_completed

  -#.row
    -#  .col
    -#    .form-group
    -#      = f.label 'Complete?'
    -#      = f.check_box :complete, { id: 'complete-checkbox', class: 'checklist-checkbox' }
    -#
    -#.row
    -#  .col-md
    -#    .form-group
    -#      #date-completed
    -#        = f.label :date_completed
    -#        = f.datetime_select :date_completed
    -#        %p.font-italic Need to use a calendar picker (widget). Default = today / now.


  .actions
    = f.submit t('submit')


-#:javascript
  //
  // window.onload = function(){
  //   displayDateCompletedBasedOnCompleted();
  // }
  //
  // $("#complete-checkbox").on('change',function () {
  //   displayDateCompletedBasedOnCompleted();
  // })
  //
  // // show the date completed if completed checkbox is checked; hide otherwise
  // function displayDateCompletedBasedOnCompleted() {
  //   var checkBox = document.getElementById("complete-checkbox");
  //   var dateCompleted = document.getElementById("date-completed");
  //
  //   // TODO if the checkBox is changed to true, then the default value fo dateCompleted should be now (not whatever _was_ in there)
  //   dateCompleted.style.display = (checkBox.checked ? "block" : "none");
  // }
