%h1 Listing user_checklist_items

%table
  %thead
    %tr
      %th.checklist-item Checklist item
      %th.user User
      %th.done= t('.done_col')
      %th.time-completed Time completed
      %th
      %th
      %th

  %tbody
    - @user_checklist_items.each do |user_checklist_item|
      %tr
        %td.checklist-item= user_checklist_item.checklist_item
        %td.user= user_checklist_item.user
        %td.done= user_checklist_item.completed?
        %td.done= check_box_tag t('activerecord.attributes.user_checklist_item.complete'), user_checklist_item.complete, user_checklist_item.complete,
            {disabled: true, class: 'checklist-checkbox-small'}
        %td.time-completed= time_completed_display(user_checklist_item)
        %td= link_to 'Show', user_checklist_item
        %td= link_to 'Edit', edit_user_checklist_item_path(user_checklist_item)
        %td= link_to 'Destroy', user_checklist_item, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User checklist item', new_user_checklist_item_path
