%header.entry-header
  %h1.entry-title= t('.title', name: @user_checklist_item.checklist_item.name)

.entry-content.container


  %p
    %b User-Checklist item:
    = @user_checklist_item.checklist_item
  %p
    %b User:
    = @user_checklist_item.user.full_name

  %p
    %b Time completed:
    = @user_checklist_item.time_completed


  .row.mt-2
    =is_completed_as_cols(@checklist_item)


= link_to 'Edit', edit_user_checklist_item_path(@user_checklist_item)
\|
= link_to 'Back', user_checklist_items_path
