%header.entry-header
  %h1.entry-title= t('.title')

.entry-content
  - attr_i18n_scope = 'activerecord.attributes.ordered_list_entry'

  %table.table-hover#checklists
    %thead
      %tr
        %th.name= t('name', scope: attr_i18n_scope)
        %th.description= t('description', scope: attr_i18n_scope)
        %th.parent= t('.in_parent_col')
        %th.list-position= t('.pos_in_list')
        %th
        %th

    %tbody
      - @ordered_list_entries.each do |ordered_list_entry|
        %tr.ordered-list-entry
          %td.name{class: entry_name_css_classes(ordered_list_entry)}= link_to ordered_list_entry.display_name_with_depth(prefix: ' -'), ordered_list_entry
          %td.description= link_to ordered_list_entry.description, ordered_list_entry
          %td.parent= ordered_list_entry.ancestors? ? (link_to ordered_list_entry.parent.name, ordered_list_entry.parent): '-'
          %td.list-position= ordered_list_entry.list_position

          %td= link_to t('edit'), edit_ordered_list_entry_path(ordered_list_entry)
          %td= link_to t('delete'), ordered_list_entry, method: :delete, data: { confirm: t('.delete_confirm', name: ordered_list_entry.name) }

  %br

  = link_to t('ordered_list_entries.new.title'), new_ordered_list_entry_path, class: 'btn btn-primary'
