= form_for @checklist_item, html: { class: "#{local_assigns.fetch(:class_name, '')}" }  do |f|

  != model_errors_helper(@checklist_item)

  .container
    .row
      .col
        .form-group
          = f.label :name, class: 'required'
          = f.text_field :name,  class: 'form-control'
    .row
      .col
        .form-group
          = f.label :description
          = f.text_field :description,  class: 'form-control'

    .row
      .col
        .form-group
          = f.label :checklist, class: 'required'
          = f.collection_select :checklist_id, @all_checklists, :id, :display_name_with_depth, include_blank: true

    .row
      .col
        .form-group
          -# order in list is ZERO based
          - max_position =  @checklist_item.checklist.nil? ? 0 : (@checklist_item.checklist.num_items_and_children - 1)
          = f.label :order_in_list
          = f.number_field :order_in_list, in: 0..max_position, step: 1
      .col
        %p Leave the order blank to add this to the end of the checklist

    .actions.form-group
      = f.submit 'Save', class: 'btn btn-primary mb-2 form-control'
