%header.entry-header
  %h1.entry-title= t('title', name: @checklist_item.name)
.entry-content.container

  .row.mt-2
    .col
      %p
        %b In list
        = @checklist_item.checklist.name

  .row.mt-2
    .col
      %p
        %b= t('activerecord.attributes.checklist_items.order_in_list')
        = @checklist_item.order_in_list


  %hr

  = render 'form', class_name: 'edit-checklist-item'

  %hr
    .text-center
      = link_to "View Checklist item", @checklist_item, class: 'btn btn-sm btn-light'
      = link_to "List all checklist items", checklist_items_path, class: 'btn btn-sm btn-light'
